/*Tarefa 8: Box Model*/
/*Aluna Luciene Lima*/


/*Instruções da professora sobre a configuração:
{
    width: 400px;
    height: 400px;
}
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

body {
    background-color: rgb(238, 250, 187);

}

/*título*/
h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(30, 62, 170);
    font-family: 'PT Sans', sans-serif;
    /*margin-bottom: 100px;*/
    margin: 0;
    font-weight: bold;


}

h1:hover {
    /*color: rgb(240, 43, 43);*/
    color: violet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/*Foto e parágrafo*/
div {
    /*ajustando a foto*/
    background-image: url(flor3.jpg);
    text-align: center;
    width: 400px;
    height: 400px;

    /*ajustando a borda da foto*/
    border-width: 20px;
    border-style: groove; 

    /*borda interna*/
    border-color: rgb(160, 245, 234);
    border-radius: 50%;
    box-shadow: inset 2px 6px 23px 20px rgb(27, 219, 27);
    background-size: cover; /*adapta a imagem dentro da div*/
    padding: 10px;

    /*borda externa*/
    outline-width: 56px; /*largura contorno por fora*/
    /*outline-style: groove; /*tipo de contorno*/
    /*outline-style: outset;*/
    outline-style: double;
    outline-color: rgb(55, 245, 55);

    /*margem*/
    margin: auto; /*pra deixar o elemento no meio do site*/
    margin-top: 100px; /*pro elemento não grudar em cima*/
      

}

div:hover {
    /*borda interna*/
    border-color: violet;

    /*sombra*/
    box-shadow: inset 26px 6px 26px 20px rgb(27, 219, 27);

    /*borda externa*/
    /*outline-style: dotted;*/
    outline-style: dashed;

}

p {
    color: yellow;
    padding-top: 100px;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;

}


/*rodapé*/
footer {
    color: black;
    font-size: 1em;
    padding-top: 8em;
    font-weight: bold;
    text-align: center;



}


/* Esse trabalho foi feito por Luciene Lima */